<nav id="sidebar">
    <!-- Sidebar Header-->
    <div class="sidebar-header d-flex align-items-center">
        <div class="avatar"><img src="{{ asset('front/img/avatar-20.jpg') }}" alt="..." class="img-fluid rounded-circle"></div>
        <div class="title">
            {% if participant is defined %}
                <h1 class="h5">{{ participant.nom }}</h1>
                <p>{{ participant.prenom }}</p>
            {% else %}
                <h1 class="h5">pa defini</h1>
                <p>pas defini info</p>
            {% endif %}

        </div>
    </div>
    <!-- Sidebar Navidation Menus--><span class="heading">Main</span>
    <ul class="list-unstyled">
        <li class="active"><a href="{{ path('home_page') }}"> <i class="fa fa-map-marker"></i>Map de survie </a></li>
        <li><a href="{{ path('planifications_page') }}"> <i class="fa fa-calendar"></i>Planifications </a></li>
        <li><a href="{{ path('cheick_page') }}" > <i class="fa fa-sticky-note-o"></i>Controle quotidient </a></li>
        <li><a href="{{ path('equipements_page') }}"> <i class="fa fa-archive"></i>Equipements </a></li>

</nav>
